.container {
	display: grid;
	/*grid-template-columns: 100px auto;*/
	/*grid-template-columns: 1fr 1fr 1fr;*/
	/*grid-template-columns: repeat(3, 1fr);*/
	grid-template: repeat(2, 50px) /repeat(3, 1fr);

	/*grid-template-rows: 50px 50px 200px;*/
	/*grid-template-rows: repeat(2, 50px);*/
	
	grid-gap: 4px;
}



/*Short hand syntax for rows and columns:
	grid-template: rows/columns  
	grid-template: repeat(2, 50px) / repeat(3, 1fr);*/